@import '~normalize.css';
@import "~muicss/lib/sass/mui.scss";

$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-sass/assets/stylesheets/bootstrap-sprockets';

$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

@import './Form.scss';
@import './Panel.scss';
@import './Table.scss';

body {
  color: #484848;
  letter-spacing: 1px;
}

.mui-select {
  margin-bottom: 0;
  padding-top: 0;
}

.mui-select__menu {
  max-height: 250px;
}

a {
  color: #222;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: lighten(#222, 20%);
    opacity: 0.9;
  }

  &:focus {
    text-decoration: none;
    outline: 0;
  }

  &:active {
    opacity: 0.8;
  }
}

$padLeft: 70px;

.modal-dialog {
  position: absolute;
  left: 0;
  .modal-content {
    width: 100vw;
    height: 800px;
    .modal-header {
      border: none;
      padding: 25px 15px 25px 40px;
      button.close {
        font-size: 70px;
        font-weight: lighter;
        color: black;
        margin: -20px 0 0;
      }
      .modal-title {
        font-size: 48px;
        span {
          font-size: 20px;
          font-weight: lighter;
          color: #9e9e9e;
          letter-spacing: 1px;
          display: inline-block;
          padding: 0 0 0 $padLeft;
        }
      }
    }
    .modal-body {
      padding: 0;
    }
  }
}
.contentWrap {
  .leftWrap {
    height: 500px;
    padding: 0 0 0 40px;
    display: inline-block;
    img {
      max-height: 500px;
      vertical-align: baseline;
    }
  }
  .rightWrap {
    width: 550px;
    height: 500px;
    overflow-y: scroll;
    padding: 0 20px 0 40px;
    display: inline-block;
    .wrap {
      display: inline-block;
      padding: 0 0 20px;
      h3 {
        margin: 0;
        padding: 0 0 10px;
      }
      p {
        margin: 0;
      }
    }
    .third {
      img {
        max-width: 510px;
      }
    }
  }
  .btn {
    width: 250px;
    height: 100px;
    padding: 25px 0;
    text-align: center;
    float: right;
    margin: 20px 230px 0 0;
    background: #167c80;
    font-size: 30px;
    color: white;
  }
}
