.photo {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
}

.xsPhoto {
  width: 47px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}

.customPadding {
  padding: 5px !important;
}
