.photosContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.photo {
  width: 125px;
  height: 115px;
  margin: 7px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
