.title {
  margin-top: 10px;
}

.photosContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mediumPhoto {
  width: 125px;
  height: 115px;
  margin: 7px 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.collectionBlock {
  margin-bottom: 20px;
}

.button {
  margin-top: 15px;
}

.collectionContainer {
  display: flex;
  flex-wrap: wrap;
  background-color: #eee;
  min-height: 172px;
  padding: 5px;
}

.smallPhoto {
  width: 78px;
  height: 78px;
  margin: 3px;
  background-size: cover;
  background-repeat: no-repeat;
}
