.myContainer {
  margin-top: 120px;
}

.main {
  height: 82vh;
}

.panel {
  height: 100%;
  overflow: auto;
}

.map{
  height: 100%;
}

.booking {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 120px;
  right: 0;
  bottom: 20px;
  left: 0;
  background-position: 50%;
}
