$grayColor: rgb(238, 238, 238);

.modalBody {
  position: relative;
  padding: 15px;
  min-height: calc(100vh - 2 * 30px);
}

.headerWrap {
  position: fixed;
  left: 0;
  width: 100vw;
  height: 90px;
  padding: 20px 0;
  border-bottom: $grayColor 1px solid;
  display: block;
  background: white;
  .logoWrap {
    float: left;
    display: inline-block;
    background: url('https://s3.amazonaws.com/vr-fe-hackathon/images/logo.png') no-repeat;
    height: 70px;
    width: 250px;
    background-size: contain;
    margin: -10px 0 0 20px;
  }
  .pplWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 30%;
    margin: -10px 0 0;
    .ppl {
      display: inline-block;
      background: url('https://s3.amazonaws.com/vr-fe-hackathon/images/profile.jpg') no-repeat;
      height: 70px;
      width: 70px;
      border: 1px solid #eeeeee;
      border-radius: 50%;
      background-size: contain;
      margin: 0 20px;
    }
  }
  .inputWrap {
    width: 450px;
    margin: 0 auto;
    .leftCircle, .rightCircle {
      width: 50px;
      height: 50px;
      position: absolute;
      margin: 0 0 0 -25px;
      display: inline-block;
      border: $grayColor 1px solid;
      border-radius: 50%;
      background: #f7f8fa;
    }
    .searchIcon {
      margin: 0 0 0 -400px;
      position: relative;
      z-index: 3;
      color: $grayColor;
      font-size: 20px;
      background: #f7f8fa;
    }
    input {
      z-index: 3;
      position: relative;
      overflow: hidden;
      width: 400px;
      height: 50px;
      padding: 0 0 0 40px;
      margin: 0 auto;
      border: none;
      border-top: $grayColor 1px solid;
      border-bottom: $grayColor 1px solid;
      font-size: 20px;
      outline: none;
      background: #f7f8fa;
    }
  }
}
